<div class="container">
    <h1>Search Flights</h1>
    <h2></h2>
    <form  [formGroup]="FlightForm" (submit)="GetFlights(Destination, Departure, DepartDate, Passengers)">
        <div class= "FormGroup">
            <label>Destination:</label> <input formControlName="Destination"> 
            <label>Departure:</label> <input formControlName="Departure"> 
            <label>Depart Date:</label><input type="date" formControlName="DepartDate" minDate="<?php echo date('Y-m-d'); ?>"/>
            <label>Number of Passengers:</label> <input type="number" formControlName="Passengers" min="1" max="10">
        </div>
      <button type="GetFlights(FlightForm.value)">Search</button>
    </form>

    <p>Value: {{ FlightForm.value | json}}</p>
    <p>Validation Status: {{ FlightForm.status }} </p>
</div>

<!-- <style>
table, th, td {
border: 1px solid grey;
border-collapse: collapse;
padding: 5px;
}
table tr:nth-child(odd) {
background-color: #f1f1f1;
}
table tr:nth-child(even) {
background-color: #ffffff;
}
</style> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<div ng-app="fisherairlines" ng-controller="FlightController">

<!-- <table>
    <tr>
        <th>Date</th>
        <th>Destination</th>
        <th>Price</th>
        <th>Seats Available</th>
    </tr>
    <tr ng-repeat="x in Flight">
        <td>{{ x.DepartDate }}</td>
        <td>{{ x.Destination }}</td>
        <td>{{ x.Price }}</td>
        <td>{{ x.Passengers }}</td>
    </tr>
</table> -->

<script>
var app = angular.module('fisherairlines', []);
app.controller('FlightController', function($scope, $http) {
$http.get("fisher-airlines.aspx")
.then(function (response) {$scope.Flight = response.data.records;});
});
</script> 