 <div class="container">
 <h2>Results</h2>
  <ul class="flights"ng-controller='FlightController'>
    <li *ngFor="let flight of flights"
      [class.selected]="flight == selectedFlight"
      (click)="onSelect(flight)">
      <span class="badge">{{flight.id}}</span> {{flight.desintation}}
      <p>Flight Destination: @Model.Destination</p>
    </li>
  </ul>
  <div *ngIf="selectedFlight">
    <h2>{{selectedFlight.id | uppercase}} is my Flight</h2>
    <button (click)="gotoCheckout()">Checkout</button>
  </div>
</div>